.dotnet/
artifacts/
tools/*
!tools/packages.config

# Assembly Version Patching
src/CommonAssemblyInfo.cs

# Rider
/.idea

# VS Code (share debug and task specific settings)
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json

# Visual Studio
/.vs
*.suo
*.user

# Build results
artifacts/
project.lock.json
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover is a Code Coverage Tool
*.dotCover

# Publish Web Output
*.Publish.xml

# Mac desktop service store files
.DS_Store
