<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="true" />
        <add key="automatic" value="true" />
    </packageRestore>
    <!--
        Unless you work on developing new features for ASP.NET, I recommend that you use
        aspnetvnext (for dev bits) or nuget.org (for release bits).
        See also: http://stackoverflow.com/questions/34596866/differences-between-aspnetcidev-and-aspnetvnext
    -->
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <!-- <add key="CoreFxCiDev" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />
        <add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster/api/v3/index.json" protocolVersion="3" />
        <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" protocolVersion="3" />
        <add key="xUnit.net" value="https://www.myget.org/F/xunit/api/v3/index.json" protocolVersion="3" />
        <add key="NuGet.org v2" value="https://www.nuget.org/api/v2" /> -->
        <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <!--
        Pointing to nuget.org should suffice if you only want to point to rc1 bits.
        Therefore we disable all feeds but nuget.org.
    -->
    <!-- <disabledPackageSources>
        <add key="CoreFxCiDev" value="true" />
        <add key="AspNetMaster" value="true" />
        <add key="AspNetVNext" value="true" />
        <add key="AspNetCiDev" value="true" />
        <add key="xUnit.net" value="true" />
        <add key="NuGet.org v2" value="true" />
    </disabledPackageSources> -->
</configuration>
