<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
        <!-- See https://github.com/dotnet/sdk/issues/335#issuecomment-271186591 -->
        <!-- <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"> -->
    </packageSources>
</configuration>
