<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <!--
      For some obscure reason GitHub does not support anonymous access to public NuGet repositories.
      We therefore configure a low priviliged PAT (that is not secret, only has read:packages scope)
      -->
    <github-maxild>
      <add key="Username" value="maxild" />
      <add key="ClearTextPassword" value="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" />
    </github-maxild>
  </packageSourceCredentials>
</configuration>
